{% extends 'movies/base.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-8">
          <h2>
            {{movie.title}}
            <a href="#"><i class="far fa-star"></i></a> <!--Todo : 좋아요 기능 구현-->
          </h2> 
          <p>{{movie.audience}}</p>
          <p>{{movie.genre.name}}</p>
      </div>
      <div class="col-4">
          <img width="100%" src="{{movie.poster_url}}" alt="{{movie.title}}">
      </div>
    </div><hr>
    <div>
      <p>{{movie.description}}</p>
    </div><hr>
    <div>
      <h2> 평점 </h2>
      {% for review in reviews %}
        작성자 : {{ review.user }} |
        평점 : {{ review.score }} |
        {{ review.content }}
      {% if user == review.user %}
      <form action="{% url 'movies:delete' movie.pk review.pk%}" method="POST" style="display:inline">
        {% csrf_token %}
          <button>댓글삭제</button>
      </form> <br>
      {% endif %}

      {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <form action="{% url 'movies:new' movie.pk%}" method="POST">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="댓글 등록">
    </form>
    {% endif %}
    
  </div>
{% endblock %}

